/*screen max width 1366px*/
@font-face{
	font-family:DancingScript-Regular;
	src:url(../fonts/Dancing_Script/DancingScript-Regular.ttf);
}
@font-face{
	font-family:Rancho-Regular;
	src:url(../fonts/Rancho/Rancho-Regular.ttf);
}
@font-face{
	font-family:Neucha-Regular;
	src:url(../fonts/Neucha/Neucha-Regular.ttf);
}

body{
	font-family:Rancho-Regular;
	margin: 0 auto;
}

.container{
	width: 1349px;
}

nav{
	display: flex;
	justify-content: space-evenly;
	font-family:DancingScript-Regular;
}

nav img{
	width: 25px;
	height: 25px;
	padding-top: 40px;
}

#logo img{
	width: 300px;
	height: 60px;
	float: left;
	padding: 20px 20px;
}

a{
	text-decoration: none;
	color:#7a3c78;
}

.a{
	float: right;
	padding: 30px;
	padding-top: 40px;
	font-size: 20px;
	font-weight: bolder;
}

.a:hover{
	transform: skewX(-10deg);
}
/*End of the header*/


/*Start of the slider*/
.slider div{ 
	height: 500px;
	background-image: url('../images/wedding-1.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
}
h1, #para{
	font-family: DancingScript-Regular;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 20%;
	color: #fff;
}

h1{
  	top: 50%;
  	font-size: 50px;
}

#para{
  	top: 60%;
  	font-size: 30px;
}	
/*end of the slider*/

/*Start of the 1st section*/

div .para{
	font-family: DancingScript-Regular;
	margin-top: 30px;
	color: #7a3c78;
	text-align:center;
	font-size: 30px;
	margin:50px 300px;
}
/*end of the 1st section*/

/*start of the 2nd section*/

#p, h2{
	text-align:center;
	letter-spacing: 13px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: bolder;
}

h2{
	font-size:50px;
	color: #7a3c78;
}
.section2{
	margin:30px;
	overflow: hidden;
}

.raw1 img{
	width: 400px;
	height: 300px;
	margin:10px;
}

.raw11:hover{
	opacity: 0.8;
	transform: rotateY(180deg);
	transition: 0.6s;
}

.middle {
	display: inline-block;
	color:#000;
	font-weight: bolder;
	padding:0 10%;
	text-align: center;
  	font-size: 20px;
}

/*end of the 2nd section*/


/*start of the footer*/
#log img{
	width: 150px;
	height: 100px;
}

.footerleft, .footermiddle{
	font-size: 20px;
	border-right:1px solid #7a3c78;
	margin:20px;
	padding:20px;
	width: 350px;
	text-align: center;
	height: 200px;
	font-weight: bolder;
}

.footerleft{
	float: left;
}

li{
	list-style: none;
	font-size: 20px;
	margin:20px;
	font-weight: bolder;
}

.footermiddle{
	float: left;
	text-align: center;
}

.footerright{
	font-size: 20px;
	margin:20px;
	padding:20px;
	width: 350px;
	text-align: center;
	float: left;
}
h4{
	text-align: center;
	font-size: 30px;
}

span{
	font-family:DancingScript-Regular;
	color: #7a3c78;
	padding: 10px;
	font-size: 30px; 
}
.footerright img{
	width: 30px;
	height: 30px;
	padding: 20px;
}
#footer{
	clear: both;
	background-color:#7a3c78;
	color: #fff;
	text-align: center; 
	padding: 10px;
}
#base{
	color: #fff;
	text-align: center;
}

/*End of the footer*/
